<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Servicios</h6>
                <div class="table-responsive">
                    <table id="servicesDataTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Proveedr</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Tipo</th>
                            <th>Provincia</th>
                            <th>Canton</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                                *ngFor="let iterObj of objList; let i = index"
                                [class.active]="i == currentobj"
                        >
                            <td>{{ iterObj.provider }}</td>
                            <td>{{ iterObj.name }}</td>
                            <td>{{ iterObj.description }}</td>
                            <td>{{ iterObj.type }}</td>
                            <td>{{ iterObj.provincia }}</td>
                            <td>{{ iterObj.canton }}</td>
                            <td><a routerLink="{{ iterObj.uuid }}">Ver detalles</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

