<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Proveedores</h6>
                <div class="table-responsive">
                    <table id="productDataTable" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Compania</th>
                            <th>Suscripcion</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                                *ngFor="let iterObj of objList; let i = index"
                                [class.active]="i == currentobj"
                        >
                            <td>{{ iterObj.user }}</td>
                            <td>{{ iterObj.company_name }}</td>
                            <td>{{ iterObj.subscription }}</td>
                            <td><a routerLink="{{ iterObj.uuid }}">Ver detalles</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

