<div class="row" *ngIf="currentObj">
    <div class="col-md-12 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Informacion del producto</h6>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Nombre</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" autocomplete="off" name="name"
                                   [(ngModel)]="currentObj.name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="description" class="col-sm-3 col-form-label">Descripcion</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="description" name="description" placeholder="AR Fotografia"
                                   [(ngModel)]="currentObj.description">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="type" class="col-sm-3 col-form-label">Tipo</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="type" name="type" placeholder="AR Fotografia"
                                   [(ngModel)]="currentObj.type">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="provincia" class="col-sm-3 col-form-label">Provincia</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="provincia" name="provincia" placeholder="AR Fotografia"
                                   [(ngModel)]="currentObj.provincia">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="canton" class="col-sm-3 col-form-label">Canton</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="canton" name="canton" placeholder="AR Fotografia"
                                   [(ngModel)]="currentObj.canton">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="provider" class="col-sm-3 col-form-label">Proveedor</label>
                        <div class="col-sm-9">
                            <select
                                    class="form-control"
                                    id="provider"
                                    name="provider"
                                    [(ngModel)]="currentObj.provider">
                                <option *ngFor="let iterObj of providers" [ngValue]="iterObj.uuid"> {{ iterObj.company_name }}
                                    (Id: {{ iterObj.uuid }})
                                </option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger mr-2" (click)="delete()">Borrar</button>
                    <button type="submit" class="btn btn-primary mr-2" (click)="update()">Actualizar</button>
                    <p>{{ message }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
